1. clone git repository
    git clone <URL>
    eg. git clone https://github.com/Tesfayehailu1921/EBMERN.git
2. tracke status
    git status 
3. add file to local repository
    git add . // add all untracked file 
    git add index.html // only add index.html file 
4. commit changes to local repository
    git commit -m "any text to descripe the changes"
5. push to git repository 
    git push
6. create branch
    git branch <branchName>
    eg. git branch tesfayehailu
7. display branch 
    git branch  // local branch 
    git branch -a  // display all local and git repository
8. git checkout <branchName>
    eg. git checkout tesfayehailu
9. push from main to branch 
    git push -u origin <branchName>>
    eg. git push -u origin tesfayehailu
10. **********************************************************
